* {
  margin: 0px;
  text-align: center;
}

body {
  background-image: url("../image/fondo2.png");
  background-size: 70px 70px;
}

.vara {
  height: 70px;
  width: 15px;
  background-color: #aaa;
  margin: auto;
  position: relative;
  top: 10px;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #000;
  border-top: 5px solid #000;
  z-index: 1000;
}

img {
  z-index: 100;
  transition: all 5s;
}

#premio {
  border-radius: 50px;
  color: black;
  background-color: white;
  position: absolute;
  font-weight: bold;
  font: times;
  font-size: 30px;
  padding-top: 25px;
  padding: 40px;
}
#imgSorpresa {
  float: left;
  margin-left: 10px;
  width: 100px;
  height: 75px;
}
